@charset "utf-8";
body
{
margin:0;
padding:0;
}

.banner
{
    background: url(holiday-2880261_960_720.jpg) no-repeat center;
    background-size: cover;
    height:100vh;
    position:relative;
}
header{
    padding: 5px 30px 0px;
    background-color:rgba(225,225,225,0.6);
}

.hat
{
    float:left;
    display: inline-block;
}
.title-color
{
    text-transform: uppercase;
    color: #ff4181;
}
.search_my
{
float: right;
border: 3px #000 solid;
}
.search1
{
    border: none;
    background-color:none;
    width: 100px;
    height:2vh;
    background-color: transparent;
}
.button1
{
    color: #fff;
    background-color: #000;
    border: none;
    height: 40px;
    width:40px;
}
.nav1
{
     background-color:#f8f9fa;
}
.navbar
{
    padding:0px;

}
.navbar-nav li{
    z-index: 1;
}
.navbar-nav li a{
font-size: 17px;
padding: 15px 60px!important;
}
.navbar-nav li a:hover{
    border-right:3px solid #ff4f81;
    border-left: solid #ff4f81;
    transition: 0.5s all;
}
.navbar-light .navbar-nav .nav-link
{
    color: #000;
}
.slider
{
    position:absoulte;
    top=50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.flexslider
{
    padding:2%;
    left:0;
    color: #fff;
    font-size: 20px;
    text-align: center;
}
.more-bttn:hover
{
    color:#000;
    background:#fff;
    
}
.modal-body img
{
    width:100%;
}
.about
{
    margin-top: 80px;
}
about ,h1, h3, p
{
    text-align: center;
}
.about h1
{
    letter-spacing: 12px;
    margin-bottom: 15px;
    
}
.about h3
{
     color:blueviolet;
}
.about p{
padding:10px 137px 0px;
}
.crl1
{
    background-color:#146eb4;
}
.crl2
{
    background-color: #2dde98;
}
.crl3
{
    background-color:#8e43e7 ;
}
.about_grid
{
    text-align: center;
    padding: 30px;
    transition: 0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
}
.about_grid h4
{
    color: #ff4f81;
    
}
.about_grid p
{
    color: #fff;
    padding: 0px;
    }
.about_grid i
{
    color: #fff;
    font-size: 50px;
    margin-bottom: 10px;
    
}
.about_grid i:hover
{
    color:#000;
    
}
.about_grid: hover
{
    box-shadow: 2px 15px 70px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 15px 70px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 15px 70px 2px rgba(0,0,0,0.75);
}
.services
{
    background-color: #000;
    margin-top: 40px;
    padding-bottom: 40px;
}
.services h1
{
     color:#fff;
    text-align: center;
    letter-spacing: 12px;
    text-transform: uppercase;
    padding: 80px 0px 20px;
}
.services h3
{
    margin-bottom: 20px;
    color:#ff4f81;
}
.services p
{
    color:#000;
    padding:10px 137px 0px;
}
.services_grid
{
background-color:aliceblue;
    text-align:center;
    padding: 20px;
    margin-bottom: 20px;
}
.services_grid1
{
    padding: 20px 15px;
    width:100%;
    text-align: center;
}
.services_grid1 i
{
    font-size: 26px;
    color:#ff4f81;
    text-align: center;
    line-height: 63px;
    height:64px;
    width:64px;
    border-radius: 164px;
    background-image: #ff4f81;
}
.services_grid2
{
    padding: 20px 15px;
}
.services grid2 p
{
    color:#000;
    padding:0px;
    margin:auto;
}
.services grid2 i
{
 color:#ff4f81;
    margin-right: 10px;
    font-size: 25px;
}
.services_grid_right
{
    border-right:2px solid #ff4f81;
    text-align: center;
    
}
.more_details
{
 color:#000;
    text-decoration: none;
    font-size: 14px;
    margin-top:25px;
    text-align:center;
    display:inline-block;
    transition:05s all;
    -webkit-transition:05s all;
    -o-transition:05s all;
    -moz-transition:05s all;
    -ms-transition:05s all;
    border:1px solid#000;
    padding: 8px 24px ;
    border-radius: 20px;
    letter-spacing: 2px;
    background-clip: white;
}
.more_details :hover{
    color:#fff;
    background-color: #ff4f81;
    border-color:#ff2b67;
    transition:05s all;
    -webkit-transition:05s all;
    -moz-transition:05s all;
    -o-transition:05s all;
    -ms-transition:05s all;
    
}
.gallery h1
{
    color:#000;
    text-align: center;
    text-transform: uppercase;
    letter-spacing:5px;
    padding-top: 80px;
    padding-bottom: 30px;
}
.gallery-grids
{padding:0px 15px;
}
.gallery_grid_img
{
    padding:0px;
}
@media(max-width:1200px)
{
    .navbar-nav li {
        font-size:15px;;
} 
    .services_grid1 i
{
    font-size: 20px;
    line-height: 53px;
    height:54px;
    width:54px;
    
}
}
.lecture
{
    background-color: #000;
    padding-bottom: 80px;
}
.lecture h1
{
    color:#fff;
    letter-spacing: 12px;
    text-transform: uppercase;
    padding:80px 0px 20px;
    text-align: center;
}
.l-img
{
    width:100%;
    position: relative;
    display:block;
    overflow:hidden;
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -ms-transition:0.5s all;
    
    -moz-transition:0.5s all;
     -o-transition:0.5s all;
    opacity:1;
    filter:alpha(opacity=100);
    
}

.l-img img
{
    width:100%;
}
.l-img:hover{
    cursor:pointer;
}
.l-img:hover .l-caption
{
    transform: translateY(0%) scale(1);
    -webkit-transform: translateY(0%) scale(1);
    -ms-transform: translateY(0%) scale(1);
    -moz-transform: translateY(0%) scale(1);
    -o-transform:translateY(0%) scale(1);
}
.l-caption
{
    background-color: rgba(1,4,6,0.45);
    position: absolute;
    bottom: 0;
    left:0;
    padding:15px 20px;
    right:0;
    text-align: center;
    z-index:99;
    transition:0.5s all;
    -webkit-transition:0.5s all;
     -moz-transition:0.5s all;
    -ms-transition:0.5s all;
    -o-transition:0.5s all;
    
    transform:translateY(150%) scale(1.5);
    -webkit-transform:translateY(150%) scale(1.5);
    -ms-transform:translateY(150%) scale(1.5);
    -moz-transform:translateY(150%) scale(1.5);
    -o-transform:translateY(150%) scale(1.5);
}
.l-caption ul
{
   display:inline-block;
    margin:0px;
    padding:0px;
    
}
.l-caption ul li
{
    display:inline-block;
    
}
.l-caption ul li a
{
background-color: #fff;
    border-radius: 50%;
    color:#095880;
    display:inline-block;
    margin:0px;
    height:28px;
    text-align: center;
    line-height: 30px;
    width:28px;
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -ms-transition:0.5s all;
    -o-transition:0.5s all;
     -moz-transition:0.5s all;
}
.l-caption ul li a:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
}
.l-info
{
    text-align: center;
    border: 1px solid #000;
    padding: 5px 5px 0px 5px;
    background-color: #ff4f81;
}
.l-info p
{
    font-size:15px;
    letter-spacing: 2px;
    color: #fff;
}
.l-info h5
{
    font-size:15px;
    letter-spacing: 1.5px;
    color: #fff;
}


@media(max-width:992px)
{
    .navbar-toggler
    {
        margin: 10px 0px 10px 30px;
        background-color: #fff;
        border-color: #ff4f81;
    }
    .navbar-toggler:hover,.navbar-toggler:focus{
        background-color:#fff;
        border-color:#ff4f81;
    }
    .navbar-light
    {
        background-color: #fff;
    }
    .navbar-nav li a 
    {
        text-align: center;
        background-color:aliceblue;
    }
    .navbar-nav li a :hover{
        background-color: #ff4f81;
    }
    .services_grid1
    {
    padding: 10px 0px;
    }
    .services p
    {
        padding:10px 50px 0px;
    }
}
@media(max-width:768px)
{
    .about p
    {
        padding: 10px 10px 0px;
    }
    .services p
    {
        padding:10px 10px 0px;
    }
    .services_grid1 i
    {
    margin: auto;
    }
    .services_grid_right
    {
    border-right:none;
    text-align: center;
    border-bottom:2px solid #ff4f81;
    }